@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $coolest-background;
  font-family: Helvetica, Arial, sans-serif;
}

.center-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto minmax(auto, 560px) auto;
  grid-template-rows: 1fr max-content 1fr;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";

  @media screen and (max-width: 768px) {
    grid-template-areas:
      "content content content"
      "content content content"
      "content content content";
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-area: content;
    padding: 16px;
  }
}

.text-center {
  text-align: center;
}

h2 {
  color: $coolest-light-black;
  font-size: 16px;
  border-bottom: 1px solid $coolest-light-black;
  padding: 10px 0;
  margin: 30px 0;
}

input, select, textarea {
  font-size: 16px;
  border-radius: 3px;
  background-color: $coolest-white;
  border: solid 1px $coolest-border;
  padding: 10px;
  height: 42px;
  box-sizing: border-box;

  &::placeholder {
    color: $coolest-dark-grey;
  }

  &.error {
    border: 1px solid $coolest-error-red;
  }
}

select {
  .placeholder {
    color: $coolest-dark-grey;
  }
}

textarea {
  height: auto;
  font-family: Helvetica, Arial, sans-serif;
}

.full-width-block {
  display: block;
  width: 100%;
  margin: 15px 0;
}

.btn {
  height: 46px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 $coolest-shadow;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  padding: 10px 30px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 2px 6px 0 $coolest-shadow-dark;
  }

  &.disabled, &.disabled:hover {
    background-color: $coolest-grey;
    border: solid 1px $coolest-border;
    box-shadow: none;
    color: $coolest-black;
    cursor: default;
  }
}

.btn-primary {
  background-color: $coolest-green;
  color: $coolest-white;
}

.row {
  display: flex;
  margin: 30px -15px;

  &-no-margin {
    margin: 0 -15px;
  }

  &-double-margin {
    margin: 60px -15px;
  }

  &-v-center {
    align-items: center;
  }
}

.col, .col-1fr {
  flex: 1;
  margin: 0 15px;
}

.col-2fr {
  flex: 2;
  margin: 0 15px;
}

.col-3fr {
  flex: 3;
  margin: 0 15px;
}

.col-4fr {
  flex: 4;
  margin: 0 15px;
}

.col-5fr {
  flex: 5;
  margin: 0 15px;
}

.col-6fr {
  flex: 6;
  margin: 0 15px;
}

.error-message {
  color: $coolest-error-red;
  font-size: 14px;
}

.warning-message {
  color: $coolest-warning-yellow;
  font-size: 14px;
}
